p:hover {
  color: #1af037;
}
select:focus-visible {
  outline: 0px solid #fff;
}
.TABS *:nth-child(4),
.TABS *:nth-child(5) {
  margin-right: 0;
}
.TABS *:nth-child(4) {
  background: linear-gradient(90deg, #23b838 15%, transparent 70%, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
